.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
  margin: 0; /* Elimina los márgenes predeterminados */
}

body {
  background-color: #121111;
  background-image: url(/src/images/541c9b8f476b22e0161293c7d23dde4c51176892r1-871-929_hq.gif);
  background-size: contain; /* Ajusta la imagen para que se contenga dentro del fondo sin estirarse */
  background-position: center; /* Centra la imagen en la pantalla */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
  display: flex; /* Usa Flexbox para centrar el contenedor */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

#container {
  width: 100%; /* Asegura que el contenedor se ajuste al tamaño disponible */
  max-width: 600px; /* Define un ancho máximo para el contenedor */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  opacity: 0.8;
  background-color: white;
}
